<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.botbuddies.mapper.StoreMapper">
<select id="storeListAll" resultType="com.smhrd.botbuddies.entity.Store">
SELECT S.store_seq, S.store_name, S.category_seq, ROUND(COALESCE(AVG(R.score), 0), 1) AS AverageRating, COUNT(R.title) AS ReviewCount,S.store_desc, SI.img_filename AS ImageFilename FROM STORES S LEFT JOIN REVIEWS R ON S.store_seq = R.store_seq LEFT JOIN STORE_IMG SI ON S.store_seq = SI.store_seq where now() &gt;= S.open_time and now() &lt;= S.end_time GROUP BY S.store_seq, S.store_name, S.category_seq,S.store_desc, SI.img_filename
</select>

<select id="storeList" parameterType="String" resultType="com.smhrd.botbuddies.entity.Store">
SELECT S.store_seq, S.store_name, S.category_seq, ROUND(COALESCE(AVG(R.score), 0), 1) AS AverageRating, COUNT(R.title) AS ReviewCount,S.store_desc, SI.img_filename AS ImageFilename FROM STORES S LEFT JOIN REVIEWS R ON S.store_seq = R.store_seq LEFT JOIN STORE_IMG SI ON S.store_seq = SI.store_seq WHERE S.category_seq=#{id} and now() &gt;= S.open_time and now() &lt;= S.end_time GROUP BY S.store_seq, S.store_name, S.category_seq, SI.img_filename
</select>

<select id="searchResult" parameterType="String" resultType="com.smhrd.botbuddies.entity.Store">
SELECT S.store_seq, S.store_name, S.category_seq, ROUND(COALESCE(AVG(R.score), 0), 1) AS AverageRating, COUNT(R.title) AS ReviewCount, SI.img_filename AS ImageFilename FROM STORES S LEFT JOIN REVIEWS R ON S.store_seq = R.store_seq LEFT JOIN STORE_IMG SI ON S.store_seq = SI.store_seq WHERE S.store_name LIKE CONCAT('%' , #{searchQuery} , '%') and now() &gt;= S.open_time and now() &lt;= S.end_timeGROUP BY S.store_seq, S.store_name, S.category_seq, SI.img_filename
</select>


<select id="storeInfo" parameterType="String" resultType="com.smhrd.botbuddies.entity.Store">
SELECT S.store_seq, S.user_id, S.store_name, S.STORE_ADDR, S.store_phone, S.CATEGORY_SEQ, S.STORE_DESC, S.TABLING_STATE, S.STATE, S.open_time, S.end_time,  ROUND(COALESCE(AVG(R.score), 0), 1) AS AverageRating, COUNT(R.title) AS ReviewCount, SI.img_filename AS ImageFilename , count(ST.TABLE_SEQ) as tableCount FROM STORES S LEFT JOIN REVIEWS R ON S.store_seq = R.store_seq LEFT JOIN STORE_IMG SI ON S.store_seq = SI.store_seq LEFT JOIN STORE_TABLE ST on S.store_seq = ST.STORE_SEQ WHERE S.store_seq=#{id} GROUP BY S.store_seq, SI.img_filename
</select>

<select id="menuList" parameterType="String" resultType="com.smhrd.botbuddies.entity.Menu">
select * from MENUS where store_seq=#{id} and menu_state='1'
</select>

<select id="storeListAllScore" resultType="com.smhrd.botbuddies.entity.Store">
SELECT S.store_seq, S.store_name, S.category_seq, ROUND(COALESCE(AVG(R.score), 0), 1) AS AverageRating, COUNT(R.title) AS ReviewCount,S.store_desc, SI.img_filename AS ImageFilename FROM STORES S LEFT JOIN REVIEWS R ON S.store_seq = R.store_seq LEFT JOIN STORE_IMG SI ON S.store_seq = SI.store_seq where now() &gt;= S.open_time and now() &lt;= S.end_time GROUP BY S.store_seq, S.store_name, S.category_seq,S.store_desc, SI.img_filename order by AverageRating desc
</select>

<select id="storeListScore" parameterType="String" resultType="com.smhrd.botbuddies.entity.Store">
SELECT S.store_seq, S.store_name, S.category_seq, ROUND(COALESCE(AVG(R.score), 0), 1) AS AverageRating, COUNT(R.title) AS ReviewCount,S.store_desc, SI.img_filename AS ImageFilename FROM STORES S LEFT JOIN REVIEWS R ON S.store_seq = R.store_seq LEFT JOIN STORE_IMG SI ON S.store_seq = SI.store_seq WHERE S.category_seq=#{id} and now() &gt;= S.open_time and now() &lt;= S.end_time GROUP BY S.store_seq, S.store_name, S.category_seq, SI.img_filename order by AverageRating desc
</select>

<select id="storeListAllReview" resultType="com.smhrd.botbuddies.entity.Store">
SELECT S.store_seq, S.store_name, S.category_seq, ROUND(COALESCE(AVG(R.score), 0), 1) AS AverageRating, COUNT(R.title) AS ReviewCount,S.store_desc, SI.img_filename AS ImageFilename FROM STORES S LEFT JOIN REVIEWS R ON S.store_seq = R.store_seq LEFT JOIN STORE_IMG SI ON S.store_seq = SI.store_seq where now() &gt;= S.open_time and now() &lt;= S.end_time GROUP BY S.store_seq, S.store_name, S.category_seq,S.store_desc, SI.img_filename order by ReviewCount desc
</select>

<select id="storeListReview" parameterType="String" resultType="com.smhrd.botbuddies.entity.Store">
SELECT S.store_seq, S.store_name, S.category_seq, ROUND(COALESCE(AVG(R.score), 0), 1) AS AverageRating, COUNT(R.title) AS ReviewCount,S.store_desc, SI.img_filename AS ImageFilename FROM STORES S LEFT JOIN REVIEWS R ON S.store_seq = R.store_seq LEFT JOIN STORE_IMG SI ON S.store_seq = SI.store_seq WHERE S.category_seq=#{id} and now() &gt;= S.open_time and now() &lt;= S.end_time GROUP BY S.store_seq, S.store_name, S.category_seq, SI.img_filename order by ReviewCount desc
</select>

</mapper>