<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.botbuddies.mapper.StoreMapper">
<select id="storeListAll" resultType="com.smhrd.botbuddies.entity.Store">
SELECT S.store_seq, S.store_name, S.category_seq, ROUND(COALESCE(AVG(R.score), 0), 1) AS AverageRating, COUNT(R.title) AS ReviewCount,S.store_desc, SI.img_filename AS ImageFilename FROM STORES S LEFT JOIN REVIEWS R ON S.store_seq = R.store_seq LEFT JOIN STORE_IMG SI ON S.store_seq = SI.store_seq GROUP BY S.store_seq, S.store_name, S.category_seq,S.store_desc, SI.img_filename
</select>

<select id="storeList" parameterType="String" resultType="com.smhrd.botbuddies.entity.Store">
SELECT S.store_seq, S.store_name, S.category_seq, ROUND(COALESCE(AVG(R.score), 0), 1) AS AverageRating, COUNT(R.title) AS ReviewCount,S.store_desc, SI.img_filename AS ImageFilename FROM STORES S LEFT JOIN REVIEWS R ON S.store_seq = R.store_seq LEFT JOIN STORE_IMG SI ON S.store_seq = SI.store_seq WHERE S.category_seq=#{id} GROUP BY S.store_seq, S.store_name, S.category_seq, SI.img_filename
</select>

<select id="searchResult" parameterType="String" resultType="com.smhrd.botbuddies.entity.Store">
SELECT S.store_seq, S.store_name, S.category_seq, ROUND(COALESCE(AVG(R.score), 0), 1) AS AverageRating, COUNT(R.title) AS ReviewCount, SI.img_filename AS ImageFilename FROM STORES S LEFT JOIN REVIEWS R ON S.store_seq = R.store_seq LEFT JOIN STORE_IMG SI ON S.store_seq = SI.store_seq WHERE S.store_name LIKE CONCAT('%' , #{searchQuery} , '%') GROUP BY S.store_seq, S.store_name, S.category_seq, SI.img_filename
</select>

</mapper>